#showcase-well {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.shiny-code {
  background-color: white;
}

.shiny-code code {
  font-family: Menlo, Consolas, "Courier New", monospace;
}

.shiny-code-container {
  margin-top: 20px;
  clear: both;
}

.shiny-code-container h3 {
  display: inline;
  margin-right: 15px;
}

.showcase-header {
  font-size: 16px;
  font-weight: normal;
}

.showcase-code-link {
  text-align: right;
  padding: 15px;
}

#showcase-app-container {
  vertical-align: top;
}

#showcase-code-tabs pre {
  border: none;
  line-height: 1em;
}

#showcase-code-tabs .nav, 
#showcase-code-tabs ul {
  margin-bottom: 0px;
}

#showcase-app-code {
  width: 100%;
}

#showcase-code-tabs {
  margin-right: 15px;
}

#showcase-code-tabs .tab-content {
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0px 1px 1px 1px;
  overflow:auto;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#showcase-code-position-toggle {
  float: right;
}

#showcase-sxs-code {
  padding-top: 20px;
  vertical-align: top;
}

.showcase-code-license {
  display: block;
  text-align: right;
}

#showcase-code-content pre {
  background-color: white;
}
